body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
        .container {
          border-radius: 5px;
          background-color: #f2f2f2ce;
          padding: 20px;
        }

        .row {
            background-color: white;
            border: black 5px;
            text-align: left;
            margin: 5px;
            padding: 5px;
        }

        .container>.row>>.col-md-3>p {
            float: right;
            margin: 20px;
        }

        .container>.row>>.col-lg-4>p {
            float: right;
            margin: 20px;
        }
        
        footer {
            text-align: center;
            background: rgb(31, 31, 31);
            color: white;
            padding: 23px;
        }